@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&display=swap&subset=cyrillic");

.App {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 10vmin;
  pointer-events: none;
}

.App-wrapper {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*
 *  MESSAGE LIST COMPONENT
 */

.main-chat-messages {
  width: 800px;
  border: 6px solid #22252c;
  background: linear-gradient(#22262c, #191c20);
  height: 70vh;
  overflow: scroll;
  overflow-x: hidden;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
}

.main-chat-header {
  font-size: 0.8em;
  text-transform: uppercase;
  color: #494949;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-chat-name h2 {
  font-weight: 700;
  color: #61dafb;
}

.main-chat-participants-counter:hover,
.main-chat-header-messages-counter:hover,
.main-chat-last-message-date-info:hover {
  color: #61dafb;
  transition: 0.7s;
}

.main-chat-participants-counter > span,
.main-chat-header-messages-counter > span,
.main-chat-last-message-date-info > span {
  font-weight: 700;
}

.message-input-block {
  margin-top: 5px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
}

/*
 *  SCROLL STYLE
 */

.main-chat-messages::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
  background-color: #f5f5f5;
}

.main-chat-messages::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

.main-chat-messages::-webkit-scrollbar-thumb {
  background-color: #f90;
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 75%,
    transparent 75%,
    transparent
  );
}

.messages {
  display: flex;
  flex-direction: column-reverse;
}

.messages .message {
  width: 350px;
  padding: 10px;
  background: linear-gradient(#1e2227, #191c20);
  margin: 10px 10px 0px 10px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  /* word-wrap: break-word; */
}

.message-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: right;
}

.message-avatar {
  display: flex;
  align-items: center;
}

.message-avatar > img {
  margin-right: 5px;
  display: flex;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.message-info-message {
  width: 100%;
  font-size: 0.9em;
}

.message-info-created_at {
  color: #494949;
  font-size: 0.7em;
}

.message-info-user {
  color: #61dafb;
  font-weight: 700;
}

/*
 *  MY MESSAGES
 */

.myMessage {
  display: flex;
  align-self: flex-end;
}

.myMessage .message-info .message-info-user {
  color: #f90;
}

.myMessage .message-info .message-info-user::after {
  content: " (you)";
}

.myMessage .message-avatar > img {
  display: none;
}

.myMessage .message-info .message-info-actions {
  display: flex;
  justify-content: flex-end;
}

.myMessage .message-info .message-info-actions span {
  margin-left: 5px;
}
